body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
#para{
  display: inline-block;
}
#profileImg{
  display: inline-block;
  width: 50px;
}
#logoImg{
  padding-right: 55%;
  display: inline-block;
}
header{
  width: 100%;
  display: inline-block;
  background-color: #e6bb2e;
}
